.custom-menubar, .p-menubar-root-list {
    background-color: #151515;
    border-color: #151515;
}

.p-menuitem-text,
.welcome {
    color: white;
}

.p-menuitem-link:hover {
    background-color: #380d7e;
    border: none;
    color: white;
}

.p-button-success,
.btn-entrar, .btn-orange {
    background-color: #151515;
    border: none;
    color: white;
    transition: 120ms ease;
}

.p-button-success:hover,
.btn-entrar:hover, .btn-orange:hover {
    background-color: #380d7e;
    transform: scale(1.05);
    border: none;
}

.btn-orange-not-bg {
    background-color: transparent;
    border: none;
    color: #380d7e;
}

.linkedin-button {
    background-color: #0077b5; /* Cor azul do LinkedIn */
    color: white;
    border: none;
  }
  
  .linkedin-button:hover {
    background-color: #005f87; /* Azul escuro ao passar o mouse */
  }
  

  .p-button-danger {
      background-color: red;
      border-color: red;
      color: white;
      transition: 120ms ease;
}

.p-button-danger:hover {
    transform: scale(1.05);
}

.p-button-warning {
    background-color: #6b40b1;
    border: none;
    color: white;
    transition: 120ms ease;
}

.p-button-warning:hover {
    transform: scale(1.05);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem; /* Adiciona um pouco de padding horizontal */
}

.header-left {
    display: flex;
    flex-direction: column;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem; /* Ajusta o espaço entre o título e o campo de busca */
}

.search-input {
    width: 200px; /* Ajuste a largura do campo de busca conforme necessário */
}

.search-icon {
    margin-left: -2rem; /* Ajusta o ícone para que fique sobre o campo de busca */
    position: absolute; /* Posiciona o ícone sobre o campo de busca */
    right: 1rem; /* Ajusta a posição do ícone dentro do campo de busca */
}

@media (max-width: 768px) {
    .header-container {
        display: block; /* Altera de flex para block em telas menores */
    }

    .header-right {
        margin-top: 0.8em;
    }
}